@font-face {
    font-family: Mikhak;
    src: url('Font/woff2/Mikhak-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
      font-family: Mikhak;
      src: url('Font/woff2/Mikhak-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Mikhak;
    src: url('Font/woff2/Mikhak-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Mikhak;
    src: url('Font/woff2/Mikhak-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
      font-family: Mikhak;
      src: url('Font/woff2/Mikhak-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  body{
    font-family: Mikhak;
  }
  .MYdropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
   }
  .MYdropdown-toggle::after{
    content: none;
  }
  
  .nav-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .imgs-header a::after{
      top: 15%;
      background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0%, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) !important;
      opacity: 0.93;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .h-430{
    height: 430px;
  }
  
  .videos{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lk__item:first-child {
    grid-column: 1/2;
    grid-row: 1/4;
    }

  .lk__item {
    position: relative;
    overflow: hidden;
    }

   
.lk__thumb {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.lk__thumb a {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lk__thumb a::before {
    content: "";
    position: absolute;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-right'%3E%3Cpolygon points='9 7 15 11 9 15'%3E%3C/polygon%3E%3C/svg%3E");
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px double transparent;
    background-repeat: no-repeat;
    z-index: 1;
}

.lk__thumb a::after {
    content: "";
    top: 15%;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) !important;
    opacity: 0.93;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lk__thumb img {
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    max-width: 100%;
}

.lk__content {
    position: absolute;
    bottom: 0;
    padding: 10px;
        padding-top: 10px;
    padding-top: 0;
    width: 100%;
}

.videosgrid{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 20px; 
}

.videositem{
  position: relative;
}

.videositem:first-child {
  grid-column: 1/2;
  grid-row: 1/4;
}

.videosimg , .videosimgbig{
  height: 100%;
  flex: none;
}

.videosimg img , .videosimgbig img{
  width: 100%;
  height: 100%;
}

.videoscontent{
  position: absolute;
  bottom: 0;
}

.videosimg a , .videosimgbig a{
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.videosimg a::before , .videosimgbig a::before{
  content: "";
position: absolute;
width: 40px;
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-right'%3E%3Cpolygon points='9 7 15 11 9 15'%3E%3C/polygon%3E%3C/svg%3E");
height: 40px;
background-color: #fff;
border-radius: 50%;
border: 4px double transparent;
background-repeat: no-repeat;
z-index: 1;
}

.videosimgbig a::after{
  top: 15%;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0%, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) !important;
  opacity: 0.93;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: .3rem;
}